################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculationSDK/.vs/CalculationSDK
/CalculationSDK/bin/Debug/netstandard2.0
/CalculationSDK/obj
/CalculationSDK.Tests/bin/Debug/netcoreapp3.0
/CalculationSDK.Tests/obj
/CalculationSDK/bin/Debug
